@using WebAppAspnet.Models
@model IEnumerable<Table_Ads>

@foreach (Table_Ads item in Model)
{
        <div class="product-box" @*onclick="Page.Redirect(Detail.cshtml?@<=id=item.id)>"*@>
            <p><a><img src="" alt="" /></a></p>
            <a class="title" href="http://localhost:51928/Home/Details"> @item.adTitle </a><br />
            <a class="category">Дата: @item.adDatePublic</a><br />
        </div>
}