@using WebAppAspnet.Models
@model IEnumerable<Table_Ads>

@foreach (Table_Ads item in Model)
{
    <div class="product-box">
        <p>@Html.ActionLink(@item.adTitle, "Details", new { id = item.id_Ad })</p>
        <p> Дата: @item.adDatePublic </p>
    </div>
}