@{
    ViewBag.Title = "Contacts";
}
<h2>КОНТАКТЫ</h2>
<h3>@ViewBag.Message</h3>

<address>
    Над проектом работали:<br />
    Некрасов Дмитрий<br />
    Мехоношин Александр<br />
    Жигалов Юрий<br />
    <abbr title="Phone">P:</abbr>
    8-888-888-88-88<br />
    Почта: TriBogaturya@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>