


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align ="center">Доска объявлений</h1>
    <p align ="center" class="lead">Ваше объявление обязательно заметят!</p>
</div>


<div class="row">

    <p style="font-family:Arial, Helvetica, sans-serif;font-size:26px; text-align: center;"><b>Поиск объявления</b> </p>
    <div class="search">
        @{
            AjaxOptions ajax = new AjaxOptions
            {
                UpdateTargetId = "programmersList",
                Url = Url.Action("GetAds")
            };
        }
        <div>
        @using (Ajax.BeginForm(ajax))
        {
            <div id="kkk">
                <input type="text" name="filter" id="strquery" value="@ViewBag.filter" placeholder="Поиск по сайту" size="400" style="text-align:left; font-size:medium;"/>
                <select name="cmbox" id="strselect"  onselect="@ViewBag.cmbox">
                    <option> Выберите рубрику </option>
                    <option> Social Services </option>
                    <option> Transport </option>
                    <option> Building </option>
                    <option> Work </option>
                </select>
                <span>
                    <button id="butselect" type="submit"> Найти </button>
                </span>
            </div>
            <div class ="row" id="programmersList">
                    @Html.Action("GetAds")
            </div>
        }
        </div>
        </div>
 
</div>